html {
    cursor: crosshair;
}

body.game {
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body.over {
    background: url(./images/game_over.png);
    background-color: black;
}

body.inicio {
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div #form {
    width: 200px;
    height: 200px;
}

.mosquito1 {
    width: 50px;
    height: 50px;
    transform: scaleX(1);
}

.mosquito2 {
    width: 100px;
    height: 100px;
    transform: scaleX(-1);
}

.mosquito3 {
    width: 70px;
    height: 70px;
    transform: scaleX(-1);
}

.mosquito0 {
    width: 150px;
    height: 150px;
    transform: scaleX(1);
}

#vidas {
    position: absolute;
    bottom: 0px;
    width: 190px;
    padding: 10px;
    margin: 10px;
    background-color: azure;
    opacity: 0.7;
}

#lifes {
    float: left;
}

#cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
    width: 60px;
    height: 30px;
}